span {
     color:blue;
}

/* *{
     margin:0;
     padding:0;
} */
 
h1{
     background-color:aqua;
     padding:20px;
     height:300px;
     width:200px;
     border:10px solid orange;
     padding:40px;
     margin:50px;
     box-sizing:content-box;
     /* display:inline-block; */


}

h2{
     background-color:brown;
     /* display:inline;  */
     /* display:inline-block; */
     height:200px;
     width:300px;
     box-sizing:border-box; 
     border:10px solid orange;
}

span { 
    /* background-color:pink;  */
    height:200px;
    width:300px;
    /* padding:20px;
    margin:20px; */
    margin-top:150px; 
    margin-bottom:150px;
    /* padding-top:50px;
    padding-bottom:50px; */
    padding-left:30px;
    padding-right:30px;
    margin-left:20px;
    /* display:block; */
}
