*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
    background-color:black;
}

.container{
    padding:10px;
    display:grid;
    grid-template-rows:1fr 2fr;
    grid-template-columns:1fr 1fr;
    background-color:orange;
    gap:10px;
    height:400px;
    width:500px;
}

.First{
    background-color:blue;
}

.Second{
    background-color:green;
}

.Third{
    background-color:red;
}

.Fourth{
    background-color:aliceblue;
}