*{
   margin:0;
   padding:0;
}

body{
     display:flex;
     justify-content:center;
     align-items:center;
     height:100vh;
}

#container{
    height:400px;
    width:350px;
    background-color:lightblue;
    border-radius:10px;
    display:flex;
    flex-direction:column;
    padding:0 30px 0 30px;
}

#inside-cont1{
     padding-top:25px;
     display:flex;
     flex-direction:column;
     align-items:center;
}

h1{
    font-family: "Alan Sans", sans-serif;
    font-weight:light;
}

#inside-cont2{
     padding-top:50px;
     display:flex;
     justify-content:space-around;
     flex-direction:column;
}

label{
     font-size:20px;
}

input {
    border-radius:5px;
    height:25px;
}

.nameCont{
    display:flex;
    flex-direction:column;
    padding-bottom:10px;
}

.emailCont{
    display:flex;
    flex-direction:column;
}

.passwordCont{
    display:flex;
    padding-top:15px;
    flex-direction:column;
}



button {
   margin-top:40px;
   height:30px;
   width:100%;
   background-color:rgb(127, 203, 200);
   cursor:pointer;
}







