.container{
    background-color:antiquewhite;
    height:500px;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
}

/* Justify content aapke main axis ke around kaam karta hai and apka main axis flex ka direction decide karta hai Ok! */
/* Align items work around cross axis */

.box{
    height:100px;
    width:100px;
    margin:5px;
}

.first{
    background-color:orange;
    flex-grow:1;
    /* flex-basis:200px; */
}

.second {
    background-color:green;
    flex-grow:1;
    flex-shrink:2;
    flex-basis:300px;
}

.third{
    background-color:red;
    flex-grow:3; 
}

.fourth{
    background-color:chartreuse;
    align-self:end;
}