*{
    padding:0;
    margin:0;
}

body{
    background-color:rgb(175, 191, 205);
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    box-sizing:border-box;
}

.box{
   width:300px;
   height:280px;
   background-color:white;
   padding:60px;
   border-radius:10px;
}

h1{
   text-align:center;
   margin-bottom:20px;
   color:rgb(79,79,200);
}

label{
    font-size:25px;
    font-weight:600;
    margin-bottom:5px;
}

input{
    width:100%;
    height:30px;
    padding:10px;
    font-size:20px;
    margin-bottom:20px; 
    border-radius:5px;
}

button{
     background-color:rgb(138,138,242);
     color:white;
     cursor:pointer;
}



