*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
     display:flex;
     justify-content:center;
     align-items:center;
     height:100vh;
     background-color:black;
}

.container{
    height:200px; 
    width:800px;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows:1fr;
    gap:5px;
}

.box{
    background-color:orange;
}

img{
    width:100%; 
    height:100%;
}

@media screen and (max-width:900px){
    .container {
    height:400px;
    width:400px;
    grid-template-columns:1fr;
    grid-template-rows:1fr 1fr;
  }
    
  @media screen and (max-width:500px) {
      .container {
    height:400px;
    width:400px;
    grid-template-columns:1fr;
    grid-template-rows:1fr 1fr 1fr 1fr;
  }
  }
     
}