* {
     box-sizing:border-box;
}

body {
     font-family:'Dm Sans' ,sans-serif;
}

.side-menu {
     max-width:400px;
}
 
.dropdown-menu {
     background-color:#5128c6;
     padding:16px 16px;
     border-radius: 4px;
     display: flex;
     align-items:center;
     justify-content:space-between;
     cursor:pointer;
     color:white;
}

.dropdown-menu svg {
     transition:transform 0.25s ease-in-out;
}

.dropdown-menu input {
     position:absolute;
     opacity:0;
}

.dropdown-menu input:checked + svg{
     transform:rotate(-180deg);
}

.down-arrow {
     stroke:white;
}

.dropdown-name {
    display:flex;
    gap:8px;
}


.menu-items {
     padding:0;
     margin:0;
     background-color:white;
     box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
     max-height:0;
     overflow:hidden;
     transition: all 0.25s ease-in-out;
     border-radius: 0 4px;
     /* display:none; */
}

.menu-items li {
    list-style:none;
    cursor: pointer;
    padding: 8px 40px;
}

.menu-items li:hover {
   background-color:#e5e5e5;
}

.dropdown:has(input:checked) .menu-items{
    display:block;
    max-height:400px;

}

.dropdown:has(input:checked) .dropdown-menu {
     border-radius: 4px 0px;
}


/* adjusent selector   */
.dropdown + .dropdown {
     margin:16px ;
}

 /* better way to create dropdown using javascript  */

/* .dropdown.open .down-arrow {
     transform:rotate(180deg);
} */



