/* *{
    padding:0;
    margin:0;
}

body{
    color:white;
    background-color:black;
    font-size:40px;
}

.container{
    display:grid;
    height:800px;
    width:800px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns:1fr 2fr 2fr 1fr;
    gap:20px;
    padding:10px; 
}

.Box{
    background-color:rgb(57, 149, 159);
}

.Header{
   grid-column-start:1;
   grid-column-end:4;
}

.Sidebar{
     grid-row-start:2;
     grid-row-end:4;
}

.content1{
    grid-column:2/4;
}
.content2{
    grid-column:2/2;
}

.footer{
    height:100px;
    grid-column:1/4;
} */

.container{
    display:grid;
    height:1000px;
    width:1000px;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows:1fr 2fr ;
    gap:20px;
    background-color:aqua;
}

.Box{
    background-color:rgb(95,95,209);
}


.first{
    grid-row:1/4; 
}

.Second{
  grid-column:2/4;
}

.Sixth{
    grid-row:2/4;
    grid-column:4/5; 
}

