 *{
   background-color:black;
   margin:0;
   padding:0;
}


 #container {
    height:200px;
    width:300px;
    background-color:yellow;
    position:relative;
}

/*

#circle{
    height:100px;
    width:100px;
    background-color:red; 
    border-radius:50px;
    position:absolute;
    top:50px;
    left:100px;
} */


/* .box{
    box-sizing:border-box;
    background-color:rgb(45,45,209);
}

.first , .third{
    height:85px;
    width:85px;
}

.third{
    position:absolute;
    bottom:0px;
}

.second,.fourth{
    height:85px;
    width:170px;
    position:absolute;
    
}
.second {
     top:0px;
     right:0px;
}

.fourth{
    bottom:0px;
    right:0px;
} */



#cont1{
    height:65px;
    width:350px;
    background-color:rgb(206,17,38);
}

#cont2{
    height:120px;
    width:350px;
    background-color:rgb(0,40,104);
    position:relative;
}

#cont3{
    height:65px;
    width:350px;
    background-color:rgb(206,17,38);
}

#cont2_Child{
    height:100px;
    width:100px;
    background-color:white;
    border-radius:100px;
    position:absolute;
    top:10px;
    left:115px;

}









