h1{
    background-color:orange;
    height:300px;
    width:200px;
    /* border-width:15px;
    border-style:dashed;
    border-color:green; */

    border:10px solid green;
    /* padding:10px; */
    margin:30px;
    /* padding:10px 30px 20px 10px; */
}


h2{
     background-color:pink;
     border:2px solid blue;
}

p{
     background-color:aquamarine;
     padding:20px;
     border:5px solid blue;
     margin:15px;
}
 