:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme:light dark;
  color:black;
  font-synthesis:none;
  text-rendering:optimizeLegibility;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

* {
   box-sizing:border-box;
   margin:0;
   padding:0;
}

body {
    background-color:#fff;
    font-size:0.5rem;
}

#root {
    margin:1rem 5rem;
    padding:0 2rem;
}

.nav-container {
    display:flex;
    justify-content:space-between;
}

input {
   border-radius:10px;
   background-color:grey;
}








