*{
     height:0;
     padding:0;
     box-sizing:border-box;
     background-color:black;
}


.container{
    padding:20;
    position:relative;
}

.box{
     height:100px;
     width:150px;
     background-color:orange;
     animation-name:moving;
     animation-duration:10s;
     animation-timing-function:linear;
     /* animation-direction:alternate; */
     animation-delay:2s;
     /* animation-fill-mode:forwards; */
     animation-iteration-count:infinite;
     position:absolute;
}

@keyframes moving {
      0% {
         background-color:orange;
         top:10px;
         left:10px;
      }

      
      25%{
         background-color:blue;
         top:10px;
         left:700px;
      }

      50%{
         background-color:green;
         top:350px;
         right:700px;
      }

      75%{
         background-color:blue;
         top:10px; 
         right:700px;
      }

      100%{
         background-color:orange;
         top:10px;
         left:10px;
      }
}