body{
    background-color:aqua;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

/* .container{
    height:200px;
    width:200px;
    background-color:orange;
    /* box-shadow:0px 10px blue; 
    box-shadow:20px 20px 10px 10px blue;
    box-shadow:inset 10px 10px blue;
}  */
 
.container{
    height:200px;
    width:200px;
    /* background-color:orange;
    box-shadow: 10px 10px blue;
    box-shadow:20px 20px 10px 30px blue;
    box-shadow:inset 10px 10px blue; */
    /* background-color:yellow; */
    /* border-radius:50%; */
    /* box-shadow: 0px 0px 5px 10px red; */
    overflow:scroll;
}

 

/* offset-x offset-y blur-radius spread-radius color */