 h1{
    background-color:aqua;
}

/* #firstId {
background-color:green;
}
 
#firstId {
     background-color:pink;
} */



/* .classA{
     background-color:pink;
} 


li{
     background-color:green;
} */ 

h1{
   background-color:pink;  
}